---
import SectionContainer from '@/components/SectionContainer.astro';
import Hero from '@/sections/Hero.astro';
import Experiencie from '@/sections/Experiencie.astro';
import Layout from '../layouts/Layout.astro';
import Title from '@/ui/Title.astro';
import Briefcase from '@/icons/Briefcase.astro';
import Projects from '@/sections/Projects.astro';
import CodeIcon from '@/icons/Code.astro';
import ProfileCheck from '@/icons/ProfileCheck.astro';
import Aboutme from '@/sections/Aboutme.astro';
import Skills from '@/sections/Skills.astro';
---

<Layout title="Portafolio | Jaider Quimbaya.">
	<SectionContainer id="home" class="lg:h-screen" >
		<div class="absolute bottom-0 left-0 right-0 top-0 z-[-2] min-h-screen w-full bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"></div>
		<Hero/>
	</SectionContainer>

	<SectionContainer id="experience" class="md:h-auto 2xl:h-screen">
		<Title title="Experiencia Laboral">
			<Briefcase class="size-8"/>
		</Title>
		<Experiencie/>
	</SectionContainer>

	<SectionContainer id="projects" > 
		<Title title="Proyectos">
			<CodeIcon class="size-7"/>
		</Title>
		<Projects/>
	</SectionContainer>

	<SectionContainer id="aboutme" class="lg:h-screen" > 
		<Title title="Sobre mí">
			<ProfileCheck class="size-8"/>
		</Title>
		<Aboutme/>
	</SectionContainer>

	<SectionContainer id="skills" class="md:h-auto" > 
		<Title title="Habilidades Técnicas">
			<ProfileCheck class="size-8"/>
		</Title>
		<Skills/>
	</SectionContainer>
</Layout>


