---
    import { basics } from '@/cv';
    const { iconPhoto } = basics
---

<div class="flex m-8">
    <img class="w-[206px] h-[225px] relative z-20 rounded-full -mt-2" src={iconPhoto} alt="FotoPerson"/>
    <div class="w-[205.15px] h-[218px] absolute rounded-full bg-gradient-to-b from-[#111111cc] from-0% via-[#0B095C] via-25% to-[#0501A7] to-50% opacity-40"></div>
    <div class="border border-black w-[205.15px] h-[218px] absolute dark:border-white"></div>
    <div class="border border-black w-[205.15px] h-[218px] rotate-15 absolute dark:border-white"></div>
    <div class="border border-black w-[205.15px] h-[218px] rotate-30 absolute dark:border-white"></div>
    <div class="border border-black w-[205.15px] h-[218px] rotate-45 absolute dark:border-white"></div>
    <div class="border border-black w-[205.15px] h-[218px] rotate-60 absolute dark:border-white"></div>
    <div class="border border-black w-[205.15px] h-[218px] rotate-75 absolute dark:border-white"></div> 
</div>